---
import 'app/globals.css';
import { Button } from '@/components/ui/button';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { ModeToggle } from '@/components/ModeToggle';
import { IconArrowNarrowRight } from '@tabler/icons-react';
import Nav from '@/components/Nav.astro';

import { getCollection } from 'astro:content';
const designsystems = await getCollection('designsystems');
const specialists = await getCollection('specialists');
---

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme');
    }
    return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
  };
  const isDark = getThemePreference() === 'dark';
  document.documentElement.classList[isDark ? 'add' : 'remove']('dark');

  if (typeof localStorage !== 'undefined') {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains('dark');
      localStorage.setItem('theme', isDark ? 'dark' : 'light');
    });
    observer.observe(document.documentElement, { attributes: true, attributeFilter: ['class'] });
  }
</script>

<Layout title='Welcome to Astro.'>
  <main>
    <div class='flex'>
      <Nav />
      <div class='w-full min-h-screen ml-64'>
        <div class='h-full px-4 py-6 lg:px-8'>
          <div class='container'>
            <h1 class='text-foreground font-heading'>
              Welcome <span class='outline-fuchsia-300 dark:text-amber-400 text-neutral-300'>to</span>
              <span>Astro</span>
            </h1>
            <p class='instructions'>
              To get started, open the directory <code>src/pages</code> in your project.<br />
              <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
            </p>
            <div class='flex gap-1.5 mb-5'>
              <Button size='sm'>Subscribe</Button>
              <Button variant='outline' size='sm'>
                Explore <IconArrowNarrowRight className='ml-1 aspect-square w-5 stroke-1.5' />
              </Button>
              <ModeToggle client:load />
            </div>

            <div class='grid grid-cols-2 gap-y-14'>
              {
                designsystems.map((designsystem) => (
                  <div class='flex flex-col items-center'>
                    <h3 class='text-lg font-semibold'>{designsystem.data.name}</h3>
                    <p class='text-sm text-neutral-500'>{designsystem.data.company}</p>
                  </div>
                ))
              }
            </div>
            <div class='grid grid-cols-2 gap-y-14'>
              {
                specialists.map((specialists) => (
                  <div class='flex flex-col items-center'>
                    <h3 class='text-lg font-semibold'>{specialists.data.name}</h3>
                    <p class='text-sm text-neutral-500'>{specialists.data.company}</p>
                  </div>
                ))
              }
            </div>

            <ul role='list' class='link-card-grid'>
              <Card
                href='https://docs.astro.build/'
                title='Documentation'
                body='Learn how Astro works and explore the official API docs.'
              />
              <Card
                href='https://astro.build/integrations/'
                title='Integrations'
                body='Supercharge your project with new frameworks and libraries.'
              />
              <Card
                href='https://astro.build/themes/'
                title='Themes'
                body='Explore a galaxy of community-built starter themes.'
              />
              <Card
                href='https://astro.build/chat/'
                title='Community'
                body='Come say hi to our amazing Discord community. ❤️'
              />
            </ul>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  /* main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
  } */
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
